@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Style+Script&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

/* Display: flex, flex-direction columnm min-height 100vh to allow
footer to display at the bottom of the page   */

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background: url("img/green\ trees.jpg") no-repeat center fixed;
  background-size: cover;
}

body {
  animation: pageTransition 0.7s;
}

@keyframes pageTransition {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container {
  width: 80%;
  max-width: 1128px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
}

header {
  background-color: #ffe8d6;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  gap: 30px;
  z-index: 1000;
}

.nav-item {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(78, 70, 70);
  font-weight: 500;
}

.nav-item:hover,
.nav-item:focus {
  color: green;
  font-weight: 600;
}

.nav-links li {
  list-style-type: none;
}

.active {
  border-bottom: 3px solid green;
  color: green;
  font-weight: 600;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(83, 80, 80);
  margin: 5px;
  transition: all 0.3s ease;
}

.main-sub-title {
  text-align: center;
  font-size: 1.3rem;
  margin: 0 auto;
  margin-bottom: 30px;
  color: #fff;
  /* background-color: #222; */
  font-weight: 400;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* opacity: .8; */
  width: 40%;
  padding: 5px 0;
}

.main-title-message {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.motto {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

.main-title {
  text-align: center;
  margin-top: 50px;
  font-family: "Style Script", cursive;
  font-size: 7rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
}

.main-photo {
  display: flex;
  max-width: 100%;
}

.main-photo img {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 50px;
  border-radius: 5px;
}

.cafe-location {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 5px;
}

/* About Page */

.grid-container {
  width: 80%;
  max-width: 1128px;
  margin: 0px auto;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 20px;
}

.grid-container .col-1 {
  grid-column: 1 / span 1;
}

.grid-container .col-2 {
  grid-column: 2 / span 1;
}

.grid-container > .col-3 {
  grid-column: 3 / span 1;
}

.grid-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.col-2 {
  text-align: center;
}

.mid-col {
  background-color: #222;
  opacity: 0.9;
}

.col-3 {
  text-align: end;
}

.mid-col h3,
.mid-col p {
  text-align: center;
  min-width: 300px;
  color: #fff;
}

.mid-col h3 {
  font-weight: 600;
  margin-top: 50px;
  font-size: 1.75rem;
}

.days {
  padding-bottom: 20px;
}

.days p {
  padding: 15px 0;
  font-size: 1.2rem;
}

.bottom-section h2 {
  text-align: center;
  font-family: "Style Script", cursive;
  font-size: 4rem;
  color: #fff;
  font-weight: 400;
}

.bottom-section h2::after,
.main-title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: block;
  height: 3px;
  width: 5rem;
  background-color: green;
}

.grid-container-bottom {
  width: 80%;
  max-width: 1128px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 50px;
  color: #fff;
}

.grid-container-bottom-article {
  padding: 25px 25px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-container-bottom-article h3 {
  font-size: 1.75rem;
}

.grid-container-bottom-article p {
  font-size: 1.2rem;
}

.grid-container-bottom-image {
  width: 100%;
  height: 100%;
  margin: auto;
}

.grid-container-bottom-image img {
  width: 100%;
  height: 100%;
}

/* Contact Page */

.map {
  width: 100%;
  margin: 0 auto;
  max-width: 1128px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.footer {
  margin-top: 50px;
  min-height: 200px;
  background-color: #ffe8d6;
  padding-top: 10px;
  margin-top: auto;
}

.footer-title {
  font-weight: 500;
  padding-bottom: 5px;
}

.footer .col-1 a {
  /* transition: all 0.5 ease; */
  text-decoration: none;
  color: rgb(78, 70, 70);
}

.footer .col-1 a:hover,
.footer .col-1 a:focus {
  color: green;
  font-weight: 600;
}

.footer .col-1 {
  display: flex;
  flex-direction: column;
}

.social-media a {
  margin: 0 10px 10px 0;
  font-size: 20px;
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: black;
  text-align: center;
  line-height: 40px;
  border-radius: 50px;
  color: #fff;
}

.social-media a:hover,
.social-media a:focus,
#email-add:hover,
#email-add:focus {
  color: green;
}

.col-3 {
  color: rgb(78, 70, 70);
}

#email-add {
  text-decoration: none;
  color: rgb(78, 70, 70);
  font-weight: 500;
}

/* Menu Page*/

.wrapper {
  width: 80%;
  max-width: 1128px;
  margin: 0 auto;
}

.container-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px 0px;
  color: #fff;
  /* gap: 5px; */
  background-color: #222;
  opacity: 0.9;
  margin-bottom: 50px;
}

.menu {
  width: 100%;
  padding: 20px 0px;
}

.menu-title {
  font-family: "Style Script", cursive;
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: 400;

  /* border-bottom: 2px solid green; */
}

hr {
  background-color: green;
  height: 3px;
  width: 25%;
  margin: 0 auto;
  border: none;
  margin-bottom: 20px;
}

.breakfast {
  border-right: 5px solid green;
}

.coffee-drinks {
  border-left: 5px solid green;
}

.menu-cost,
.menu-item-col3 {
  margin-bottom: 10px;
}

.grid-container-bottom-article {
  background-color: #222;
  opacity: 0.9;
}

/* I have taken the opportunty to use a new API called view-transition
which allows smoother transitions between pages using only the API
and css. This has to be activated in the browser. Chrome and Edge 
fully support this API at the moment. To activate you need to access
the chrome://flags, then search for view transition and enable bothe the 
viewTransition API, and the viewTransition API for navigations*/

/* Below are some @keyframes that I have experimented with, and comment out
and settled on a set that I am happy with */

/* @keyframes slide-left {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes slide-right {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

::view-transition-old(root) {
  animation-name: slide-left;
}

::view-transition-new(root) {
  animation-name: slide-right;
} */

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-to-left {
  from {
    transform: translateX(-4rem);
  }
  to {
    transform: translateX(0rem);
  }
}

@keyframes slide-to-right {
  from {
    transform: translateX(4rem);
  }
  to {
    transform: translateX(0rem);
  }
}

/* ::view-transition-old(root) {
  animation: fadeout 350ms cubic-bezier(0, 0, 0.2, 1),
    slide-to-right 350ms cubic-bezier(0, 0, 0.2, 1);
}

::view-transition-new(root) {
  animation: fade-in 350ms cubic-bezier(0, 0, 0.2, 1),
    slide-to-left 350ms cubic-bezier(0, 0, 0.2, 1);
  mix-blend-mode: normal;
} */

::view-transition-old(root) {
  animation: fadeout 350ms cubic-bezier(0, 0, 0.2, 1);
}

::view-transition-new(root) {
  animation: fade-in 350ms cubic-bezier(0, 0, 0.2, 1);
  mix-blend-mode: normal;
}

/* Contact form styling */

.form-container {
  background-color: #ffe8d6;
  width: 80%;
  max-width: 1128px;
  padding: 35px 50px;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 5px;
  box-shadow: 20px 30px 25pc rgba(0, 0, 0, 0.15);
}

.form-container > h1 {
  font-size: 1.275rem;
  text-align: center;
}

.form-container p {
  position: relative;
  margin: auto;
  width: 100%;
  text-align: center;
}

.form {
  width: 100%;
  position: relative;
  margin: 30px auto 0 auto;
}

.form-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px 30px;
  margin-bottom: 20px;
}

.form-column textarea,
.form-column input {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1.2px solid #c4cae0;
  margin-top: 5px;
}

.form-column textarea {
  resize: none;
}

.form-column textarea:focus,
.form-container input:focus {
  outline: none;
  border-color: green;
}

.form button {
  border: none;
  padding: 10px 30px;
  background-color: green;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

/* Media query added to improve responsiveness for mobile devices 
smaller than 768px wide */

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .navbar {
    opacity: 1;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #ffe8d6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  .main-title {
    font-size: 3.25em;
  }

  .main-sub-title {
    font-size: 1.2rem;
  }

  .main-title-message {
    font-size: 1rem;
  }

  .mobile {
    width: 100%;
  }

  .mid-section img {
    display: none;
  }

  .bottom-section h2 {
    font-size: 2.5rem;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-container .col-1,
  .grid-container .col-2,
  .grid-container .col-3 {
    grid-column: 1 / span 1;
    text-align: start;
  }

  .col-1,
  .col-2 {
    padding-bottom: 20px;
  }

  .mid-col,
  .days {
    width: 95%;
    margin: 0 auto;
  }

  /* About Page*/
  .grid-container-bottom {
    grid-template-columns: repeat(1, 1fr);
    /* justify-content: space-between;
    gap: 50px; */
  }

  .grid-container-bottom-image {
    height: 100%;
    width: 100%;
  }

  .grid-container-bottom-image img {
    height: 100%;
    width: 100%;
  }

  .container-menu {
    flex-direction: column;
  }

  .breakfast {
    border-right: none;
  }

  .coffee-drinks {
    border-left: none;
  }

  .breakfast h2::after,
  .lunch h2::after,
  .coffee-drinks h2::after {
    left: 50%;
  }

  .nav-active {
    transform: translateX(0%);
  }
}

/* This is the animation for the menu in mobile - allows
the nav-links to display one at a time from top to bottom */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* This allows the animation of the hamburger - changes from hamburger
to an X */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56%;
}

.video > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}

.slide-container {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.swiper {
  width: 95%;
  height: fit-content;
}

.swiper-slide img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: center;
}
